<script setup lang="ts"></script>

<template>
  <main class="container">
    <h2>Wöchentlicher Trainingsplan</h2>

    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Tag</th>
          <th>Aktivität</th>
          <th>Details</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Montag</td>
          <td>Krafttraining (Morgens)</td>
          <td>
            <ul>
              <li>Ganzkörperübungen mit moderater Intensität</li>
              <li>Zirkeltraining</li>
            </ul>
            <p>
              Führe den folgenden Zirkel mit minimaler Pause zwischen den
              Übungen und 1-2 Minuten Pause zwischen den Runden durch.
              Wiederhole dies für 3-4 Runden.
            </p>
            <ul>
              <li>
                Gewichtete Kniebeugen: 3 Sätze à 12 Wiederholungen (pro Bein)
              </li>
              <li>Liegestütze: 3 Sätze à 12 Wiederholungen</li>
              <li>
                Klimmzüge (oder assistierte Klimmzüge oder Latzug): 3 Sätze à 6
                Wiederholungen
              </li>
              <li>Dead bug: 3 Sätze à 15 Wiederholungen</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Dienstag</td>
          <td>Spaziergang</td>
          <td></td>
        </tr>
        <tr>
          <td>Mittwoch</td>
          <td>Spaziergang</td>
          <td></td>
        </tr>
        <tr>
          <td>Donnerstag</td>
          <td>Intervalltraining (Morgens)</td>
          <td>
            <ul>
              <li>Intervalle mit hoher Intensität, gefolgt von Ruhepausen</li>
              <li>
                Beispiel: 5 x 400 Meter mit 80-90%iger Anstrengung und
                2-minütigen Ruheintervallen
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td></td>
          <td>Krafttraining (Nachmittags/Abends)</td>
          <td>
            <ul>
              <li>
                Übungen für die unteren Körperpartien mit leichteren Gewichten
                und höheren Wiederholungszahlen
              </li>
              <li>Hampelmann: 1 Minute</li>
              <li>Strecksprünge: 10 Wiederholungen</li>
              <li>Bergsteiger: 1 Minute</li>
              <li>Liegestütze: 12 Wiederholungen</li>
              <li>Plank: 1 Minute</li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Freitag</td>
          <td>Spaziergang</td>
          <td></td>
        </tr>
        <tr>
          <td>Samstag</td>
          <td>Spaziergang</td>
          <td></td>
        </tr>
        <tr>
          <td></td>
          <td>Tempolauf (Nachmittags/Abends)</td>
          <td>
            <ul>
              <li>
                Distanz: 5-8 Kilometer
                <ul>
                  <li>
                    Tempo: Halte ein angenehm hohes Tempo (etwa 80-85% der
                    maximalen Anstrengung) für den Großteil des Laufs
                  </li>
                </ul>
              </li>
            </ul>
          </td>
        </tr>
        <tr>
          <td>Sonntag</td>
          <td>Spaziergang</td>
          <td></td>
        </tr>
      </tbody>
    </table>
  </main>
</template>
